In [3]:
import scanpy as sc
sc.settings.n_jobs = -1
import h5py

In [4]:
# Load the filtered feature/cell matrix from HDF5
# RUN THIS ONLY ONCE! It takes just over 5 minutes to load in the environment I set up
adata = sc.read_10x_h5("../data/16plex_900k_32_NSCLC_multiplex_count_filtered_feature_bc_matrix.h5")

/Users/Macbook/Desktop/scrna-portfolio/scrna_env/lib/python3.10/site-packages/anndata/_core/anndata.py:1758: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/Users/Macbook/Desktop/scrna-portfolio/scrna_env/lib/python3.10/site-packages/anndata/_core/anndata.py:1758: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

In [20]:
with h5py.File('../data/16plex_900k_32_NSCLC_multiplex_count_filtered_feature_bc_matrix.h5', 'r') as f:
    experiment_data = f['/matrix/barcodes'] 
    print(experiment_data.shape, experiment_data.dtype)

(897733,) |S28

In [23]:
print(len(adata.obs[(adata.obs.index == "AAACAAGCAAACGGTCACTTTAGG-1")]))

1

In [24]:
print(adata.obs.head())

Empty DataFrame
Columns: []
Index: [AAACAAGCAAACGGTCACTTTAGG-1, AAACAAGCAATAAGGAACTTTAGG-1, AAACAAGCAGCACTAAACTTTAGG-1, AAACAAGCATCGATAGACTTTAGG-1, AAACCAATCCGAAAGTACTTTAGG-1]

In [ ]:
# convert top 50,000 datapoints of this to pandas df because, again, small virenv
import pandas as pd
import numpy as np

# tenary that converts matrix into dense if not already
dense_matrix = adata.X[:50000,].toarray() if hasattr(adata.X, 'toarray') else adata.X[:50000,]  

# Convert to Pandas DataFrame
df = pd.DataFrame(dense_matrix, index=adata.obs_names[:50000], columns=adata.var_names)

# Display the first few rows
print(df.head())

                            SAMD11  NOC2L  KLHL17  PLEKHN1  PERM1  HES4  \
AAACAAGCAAACGGTCACTTTAGG-1     0.0    1.0     1.0      0.0    0.0   0.0
AAACAAGCAATAAGGAACTTTAGG-1     0.0    0.0     0.0      0.0    0.0   0.0
AAACAAGCAGCACTAAACTTTAGG-1     0.0    0.0     0.0      0.0    0.0   0.0
AAACAAGCATCGATAGACTTTAGG-1     0.0    1.0     2.0      0.0    0.0   2.0
AAACCAATCCGAAAGTACTTTAGG-1     0.0    1.0     0.0      0.0    0.0   0.0

                            ISG15  AGRN  RNF223  C1orf159  ...  MT-ND2  \
AAACAAGCAAACGGTCACTTTAGG-1    0.0  12.0     0.0       0.0  ...     4.0
AAACAAGCAATAAGGAACTTTAGG-1    0.0   0.0     0.0       0.0  ...     1.0
AAACAAGCAGCACTAAACTTTAGG-1    0.0   0.0     0.0       0.0  ...     3.0
AAACAAGCATCGATAGACTTTAGG-1    1.0   4.0     0.0       0.0  ...     2.0
AAACCAATCCGAAAGTACTTTAGG-1    0.0   1.0     0.0       0.0  ...     0.0

                            MT-CO2  MT-ATP6  MT-CO3  MT-ND3  MT-ND4L  MT-ND4  \
AAACAAGCAAACGGTCACTTTAGG-1    17.0      8.0    38.0     8.0      4.0     7.0
AAACAAGCAATAAGGAACTTTAGG-1     5.0      1.0     5.0     0.0      0.0     0.0
AAACAAGCAGCACTAAACTTTAGG-1    13.0      9.0    26.0     8.0      4.0    13.0
AAACAAGCATCGATAGACTTTAGG-1    31.0     15.0    41.0     7.0     12.0    21.0
AAACCAATCCGAAAGTACTTTAGG-1     2.0      4.0     5.0     1.0      3.0     1.0

                            MT-ND5  MT-ND6  MT-CYB
AAACAAGCAAACGGTCACTTTAGG-1     4.0    55.0     7.0
AAACAAGCAATAAGGAACTTTAGG-1     0.0     1.0     0.0
AAACAAGCAGCACTAAACTTTAGG-1     1.0    18.0     4.0
AAACAAGCATCGATAGACTTTAGG-1     3.0    71.0     7.0
AAACCAATCCGAAAGTACTTTAGG-1     1.0    21.0     2.0

[5 rows x 18082 columns]

In [9]:
adata.obs

Empty DataFrame
Columns: []
Index: [AAACAAGCAAACGGTCACTTTAGG-1, AAACAAGCAATAAGGAACTTTAGG-1, AAACAAGCAGCACTAAACTTTAGG-1, AAACAAGCATCGATAGACTTTAGG-1, AAACCAATCCGAAAGTACTTTAGG-1, AAACCAATCCTCAAGCACTTTAGG-1, AAACCAATCGATATAGACTTTAGG-1, AAACCAGGTATTGGGAACTTTAGG-1, AAACCAGGTGACATTCACTTTAGG-1, AAACCAGGTTACTTCTACTTTAGG-1, AAACCAGGTTGGATGAACTTTAGG-1, AAACCAGGTTTAGTTGACTTTAGG-1, AAACCGGTCAGGCAATACTTTAGG-1, AAACCGGTCATGATGAACTTTAGG-1, AAACCGGTCATGCATTACTTTAGG-1, AAACCGGTCGCTCAACACTTTAGG-1, AAACCGGTCGCTTCGGACTTTAGG-1, AAACGGGCAACCTTGTACTTTAGG-1, AAACGGGCACACCCACACTTTAGG-1, AAACGTTCAAGCCTCCACTTTAGG-1, AAACGTTCAAGTCGCGACTTTAGG-1, AAACGTTCAATCGTTCACTTTAGG-1, AAACGTTCAATCTCTAACTTTAGG-1, AAACGTTCATGGCCGAACTTTAGG-1, AAACTGGGTCACCAGCACTTTAGG-1, AAACTGGGTCGTCCAAACTTTAGG-1, AAACTGGGTGGCTTTGACTTTAGG-1, AAACTGGGTTTACTGAACTTTAGG-1, AAACTGTCACTAAGCAACTTTAGG-1, AAAGATGCACACTGGGACTTTAGG-1, AAAGCATGTAAGGTTGACTTTAGG-1, AAAGCATGTATTGTCAACTTTAGG-1, AAAGCATGTCTACCAGACTTTAGG-1, AAAGCATGTGAGAAGGACTTTAGG-1, AAAGCATGTTAAGGCAACTTTAGG-1, AAAGCATGTTCTCAAAACTTTAGG-1, AAAGCATGTTGTTGTAACTTTAGG-1, AAAGCCTAGAGGCGAGACTTTAGG-1, AAAGCCTAGCGCTCCAACTTTAGG-1, AAAGCCTAGCTCGATCACTTTAGG-1, AAAGCCTAGGGAGGATACTTTAGG-1, AAAGCCTAGGGCCTTTACTTTAGG-1, AAAGCCTAGTAACTTCACTTTAGG-1, AAAGCCTAGTTACACTACTTTAGG-1, AAAGCGAAGCGAGGGAACTTTAGG-1, AAAGCGAAGCGTGCTTACTTTAGG-1, AAAGCGAAGGCCATTCACTTTAGG-1, AAAGCGAAGGTTATGAACTTTAGG-1, AAAGGCAAGCGGGACTACTTTAGG-1, AAAGGCAAGCTTCTAGACTTTAGG-1, AAAGGCAAGGAGTCATACTTTAGG-1, AAAGGCAAGTGTAATGACTTTAGG-1, AAAGGCAAGTTACAGAACTTTAGG-1, AAAGGCTTCCTGGTTAACTTTAGG-1, AAAGGCTTCCTTATGGACTTTAGG-1, AAAGGCTTCCTTGTTCACTTTAGG-1, AAAGGCTTCGGTACCTACTTTAGG-1, AAAGGCTTCTCACCGGACTTTAGG-1, AAAGGCTTCTTAAGCTACTTTAGG-1, AAAGGCTTCTTTGGTGACTTTAGG-1, AAAGGGATCCCTCATTACTTTAGG-1, AAAGGGATCCCTGGTGACTTTAGG-1, AAAGGTACAACAAGTTACTTTAGG-1, AAAGGTACAAGCGATCACTTTAGG-1, AAAGGTACAAGTTTCCACTTTAGG-1, AAAGGTACACAGCAACACTTTAGG-1, AAAGGTACATAAGCTGACTTTAGG-1, AAAGGTACATCTATGCACTTTAGG-1, AAAGGTACATGTGGCGACTTTAGG-1, AAAGGTGAGAGCAAGAACTTTAGG-1, AAAGGTGAGCCTTAATACTTTAGG-1, AAAGGTGAGCGGCTTTACTTTAGG-1, AAAGGTGAGGTCGAGCACTTTAGG-1, AAAGTAGCAACAGGCTACTTTAGG-1, AAAGTAGCAATTCGGAACTTTAGG-1, AAAGTAGCACCGTTTGACTTTAGG-1, AAAGTAGCAGGTGACTACTTTAGG-1, AAAGTCATCCTAAGTTACTTTAGG-1, AAAGTCATCCTGGTTAACTTTAGG-1, AAAGTGCTCCATCCTTACTTTAGG-1, AAAGTGCTCCATTAGTACTTTAGG-1, AAAGTGCTCCCATAATACTTTAGG-1, AAAGTGCTCGCCTCGAACTTTAGG-1, AAAGTGCTCTACTACGACTTTAGG-1, AAATCACCAAGCTCAAACTTTAGG-1, AAATCCTTCATGTCATACTTTAGG-1, AAATCCTTCGCGAGTAACTTTAGG-1, AAATCCTTCGTCAATTACTTTAGG-1, AAATCCTTCGTCCATAACTTTAGG-1, AAATCGATCCGAATTTACTTTAGG-1, AAATCGATCGCTCAGTACTTTAGG-1, AAATCGATCTACTACGACTTTAGG-1, AAATCGATCTTGAAAGACTTTAGG-1, AAATGAGCAATTAGCGACTTTAGG-1, AAATGAGCACCGGCAAACTTTAGG-1, AAATGAGCAGGCTATAACTTTAGG-1, AAATGAGCATAGCGACACTTTAGG-1, AAATGGTGTTCCGGGTACTTTAGG-1, AAATGGTGTTCTGGCAACTTTAGG-1, AAATGGTGTTGGTTTAACTTTAGG-1, ...]

[897733 rows x 0 columns]

<Compressed Sparse Row sparse matrix of dtype 'float32'
	with 140003159 stored elements and shape (100000, 18082)>